{
    "extends": "standard",
    "root": true,
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "ava",
        "vue"
    ],
    "rules": {
        // Allow doublequotes
        "quotes": "off",
        // Allow semicolon
        "semi": "off",
        // disable space after func parentsis
        "space-before-function-paren": "off",
        // Allow paren-less arrow functions
        "arrow-parens": "off",
        // Allow async-await
        "generator-star-spacing": "off",
        // Do not allow console.logs etc...
        "no-console": 1,
        // Allow multi spaces to keep '=' on same column
        "no-multi-spaces": "off",
        // No need for empty new line at the end of the file
        "eol-last": "off",
		// Force tabs, 4 size
		"indent": ["error", 4],
		// Disable no-tabs
		"no-tabs": "off",
		// allow mixed operators '&&' and '||'
		"no-mixed-operators": "off",
        // node deprecated api
        "node/no-deprecated-api":  "off"

    }
}
